.primary-font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    float: left;
}

#menu li {
    font-family: 'Courier New', Courier, monospace;
    float: right;
    font-size: 30px;
    list-style-type: none;
    margin-left: 100px;
}

#main {
    margin-top: 200px;
    padding-top: 50%;
}