body{
    color:#777777;
}
h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#555555;
}

#logo{
    font-size:280%;
    margin-left: 30px;
}

#menu{
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    list-style-type: none;
    margin-left: 30px;
    /* display: -webkit-inline-box; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

#menu, li {

    line-height: 75px;

}

.main {
    position: relative;
    padding: 55px;
}

p {
    display: flex;
}

header {
    display: flex;
}

nav {
    display: flex;
    unicode-bidi: isolate;
}

@media screen and (max-width: 943px) {
    header {
        flex-direction: column;
    }
}

h3 {
    
}

footer{
    height: 150px;
}

.social-icons{
    text-align: center;
}

.social-icons li{
    display: inline;
}

.social-icons i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#photo {
    display: grid;
    gap: 0;
    padding: 0;
    margin: 0;
    max-width: 1200px;
    
    
}

#photo img  {
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;

}

@media (min-width: 480px) {
    #photo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #photo {
        grid-template-columns: repeat(3, 1fr);
    }
}